.flows.json.backup
[{"id":"18af1902.b21ed7","type":"tab","label":"Authentication","disabled":false,"info":""},{"id":"f471f5df.f04278","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6f74f178.db583","type":"function","z":"18af1902.b21ed7","name":"Authorise (app)","func":"const clientId = global.get('FORGE_CLIENT_ID');\nvar clientSecret = global.get('FORGE_CLIENT_SECRET');\nconst scopes = global.get('FORGE_AUTH_SCOPES');\n\nmsg.url = 'https://developer.api.autodesk.com/authentication/v1/authenticate';\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'client_credentials',\n    scope: scopes.join(' ')\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["b641ca9f.b6fad8"]]},{"id":"9683d968.d85ce8","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6f74f178.db583"]]},{"id":"b641ca9f.b6fad8","type":"http request","z":"18af1902.b21ed7","name":"","method":"POST","ret":"obj","url":"","tls":"","x":510,"y":120,"wires":[["90a8ba8d.42d2a8"]]},{"id":"ef6e49ba.748818","type":"comment","z":"18af1902.b21ed7","name":"Forge - 2 legged","info":"","x":160,"y":80,"wires":[]},{"id":"b09c0026.c831e","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["5a71baa4.3a4a94"]]},{"id":"5a71baa4.3a4a94","type":"function","z":"18af1902.b21ed7","name":"Log oauth URL (user)","func":"const clientId = global.get('FORGE_CLIENT_ID');\nconst callbackUrl = global.get('FORGE_CALLBACK_URL');\nconst scopes = global.get('FORGE_AUTH_SCOPES');\n\nmsg.payload = `https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=${clientId}&redirect_uri=${encodeURIComponent(callbackUrl)}&scope=${scopes.join('%20')}`\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["cd4b9f6e.9ff8e"]]},{"id":"6d3ff910.372dd8","type":"function","z":"18af1902.b21ed7","name":"Paste access code (user)","func":"// PASTE code here:\nvar code = 'bwb3pJzt5zB7G7eexwfqeqWC0ZQM-QCavUF_GRwT';\n// END\n\nvar clientId = global.get('FORGE_CLIENT_ID');\nvar clientSecret = global.get('FORGE_CLIENT_SECRET');\nvar callbackUrl = global.get('FORGE_CALLBACK_URL');\n\nmsg.url = 'https://developer.api.autodesk.com/authentication/v1/gettoken';\nmsg.method = \"POST\"\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'authorization_code',\n    code,\n    redirect_uri: callbackUrl\n};\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["5ac3dde2.bf31d4"]]},{"id":"c6f08be3.b6b758","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["6d3ff910.372dd8"]]},{"id":"5ac3dde2.bf31d4","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":570,"y":300,"wires":[["1bca0910.d657f7"]]},{"id":"1bca0910.d657f7","type":"function","z":"18af1902.b21ed7","name":"Set access token","func":"console.log('BIM360 user access token:', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["1a69f108.0a41df"]]},{"id":"ab11bc44.66ff","type":"comment","z":"18af1902.b21ed7","name":"BIM360 - 3 legged","info":"","x":170,"y":200,"wires":[]},{"id":"cd4b9f6e.9ff8e","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":240,"wires":[]},{"id":"1a69f108.0a41df","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":300,"wires":[]},{"id":"64edaab0.db2af4","type":"comment","z":"18af1902.b21ed7","name":"Step 1.","info":"Generate the URL that you Application will make requests to perform the first leg of three-legged authentication.\n\nCopy the [https://pasteboard.co/IBqsjWJ.png](code) value and prepare for step 2.\n\n","x":690,"y":240,"wires":[]},{"id":"f3601f8.18e4fe","type":"comment","z":"18af1902.b21ed7","name":"Step 2.","info":"Exchange the code for the access_token\n\nIn the .bl-config.json file, copy the `access_token` to the property \"FORGE_ACCESS\"  \n\nThis is the value that your application will send with future requests on behalf of this user.\n","x":1130,"y":300,"wires":[]},{"id":"16b8a627.7ef3aa","type":"function","z":"f471f5df.f04278","name":"Get hub","func":"const accessToken = global.get('FORGE_ACCESS');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\nmsg.url = 'https://developer.api.autodesk.com/project/v1/hubs';\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["2693ad60.91e412"]]},{"id":"9ff77420.5662b8","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["16b8a627.7ef3aa"]]},{"id":"2693ad60.91e412","type":"http request","z":"f471f5df.f04278","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":80,"wires":[["98a31843.f69858"]]},{"id":"98a31843.f69858","type":"function","z":"f471f5df.f04278","name":"Log hub ID","func":"// console.log('msg.payload', JSON.stringify(msg.payload));\nconst listHubs = msg.payload.data.map(item => ({\n    id: item.id,\n    name: item.attributes.name,\n}))\n\nmsg.payload = listHubs\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["d551ad2a.d82c3"]]},{"id":"490b27ef.2e9068","type":"function","z":"f471f5df.f04278","name":"List projects","func":"const accessToken = global.get('FORGE_ACCESS')\nconst accountId = global.get('FORGE_HUB_ID');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nmsg.url = `https://developer.api.autodesk.com/project/v1/hubs/${accountId}/projects`\n\n// console.log(msg.headers, msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["f37795d1.c81658"]]},{"id":"52a17906.bfbb58","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["490b27ef.2e9068"]]},{"id":"f37795d1.c81658","type":"http request","z":"f471f5df.f04278","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":140,"wires":[["b370a625.98c398"]]},{"id":"b370a625.98c398","type":"function","z":"f471f5df.f04278","name":"Log projects","func":"console.log(msg.payload)\n\nvar listProjects = msg.payload.data.map(item => ({\n    id: item.id,\n    name: item.attributes.name,\n    containerId: item.relationships.issues ? item.relationships.issues.data.id : undefined,\n    rootFolder: item.relationships.rootFolder ? item.relationships.rootFolder.data.id : undefined,\n}));\n\nmsg.payload = listProjects \n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["8e8d23d1.c9aad"]]},{"id":"d551ad2a.d82c3","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":80,"wires":[]},{"id":"8e8d23d1.c9aad","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":140,"wires":[]},{"id":"b806efc7.fc92f","type":"function","z":"f471f5df.f04278","name":"Get project Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst hub_id = global.get('FORGE_HUB_ID');\n\nmsg.url = `https://developer.api.autodesk.com/project/v1/hubs/${hub_id}/projects/${project_id}`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["20f30f93.4339c"]]},{"id":"51c782cf.46e3dc","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["b806efc7.fc92f"]]},{"id":"20f30f93.4339c","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":200,"wires":[["521e6447.0384ac"]]},{"id":"521e6447.0384ac","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":200,"wires":[]},{"id":"5dd3345f.1efa9c","type":"function","z":"f471f5df.f04278","name":"Get folder Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\n\nmsg.url = `https://developer.api.autodesk.com/data/v1/projects/${project_id}/folders/${folder_id}/contents`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["2a182c8f.e20ca4"]]},{"id":"304d3c7f.d089e4","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["5dd3345f.1efa9c"]]},{"id":"2a182c8f.e20ca4","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":260,"wires":[["c7e095bb.a33038"]]},{"id":"c7e095bb.a33038","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"76a63937.474758","type":"function","z":"f471f5df.f04278","name":"POST job","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/job`\nmsg.method = \"POST\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    input: {\n        'urn': file_b64\n    },\n    output: {\n        formats: [\n            {\n               \"type\": \"svf\",\n               \"views\": [\n                 \"2d\",\n                 \"3d\"\n               ]\n             }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["f7a11b10.2a17f8"]]},{"id":"917c171.9952be8","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["76a63937.474758"]]},{"id":"f7a11b10.2a17f8","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":380,"wires":[["ec156e25.5b80d"]]},{"id":"ec156e25.5b80d","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":380,"wires":[]},{"id":"cfdf37a9.06bfb8","type":"function","z":"f471f5df.f04278","name":"Get urn thumbnail","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${file_b64}/thumbnail`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["1a0e3fb.7d0b7c"]]},{"id":"3340fc21.e227f4","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["cfdf37a9.06bfb8"]]},{"id":"1a0e3fb.7d0b7c","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":520,"wires":[["1da2925f.67874e","dfbb4787.92b4f8"]]},{"id":"1da2925f.67874e","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":520,"wires":[]},{"id":"dfbb4787.92b4f8","type":"file","z":"f471f5df.f04278","name":"","filename":"thumbnail.png","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":560,"wires":[[]]},{"id":"fb5dc872.8d9b58","type":"function","z":"f471f5df.f04278","name":"Get item Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst item_id = global.get('FORGE_ITEM_ID')\n\nmsg.url = `https://developer.api.autodesk.com/data/v1/projects/${project_id}/items/${item_id}`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["ac6aa8fd.20a488"]]},{"id":"29518e1c.44d5b2","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["fb5dc872.8d9b58"]]},{"id":"ac6aa8fd.20a488","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":320,"wires":[["1e35b136.ff750f"]]},{"id":"1e35b136.ff750f","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":320,"wires":[]},{"id":"f0c85c85.3d706","type":"function","z":"f471f5df.f04278","name":"GET metadata (tbc)","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${file_b64}/metadata`\nmsg.method = \"POST\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["951d5905.2db6c8"]]},{"id":"e7b46412.ac4958","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":640,"wires":[["f0c85c85.3d706"]]},{"id":"951d5905.2db6c8","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":640,"wires":[["584ce256.737f7c"]]},{"id":"584ce256.737f7c","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":640,"wires":[]},{"id":"f207f67e.ba4f28","type":"function","z":"f471f5df.f04278","name":"GET manifest","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst urn = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${urn}/manifest`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["996acf4d.cdc57"]]},{"id":"cddebecf.5e213","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["f207f67e.ba4f28"]]},{"id":"996acf4d.cdc57","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":460,"wires":[["77275a47.aedc14"]]},{"id":"77275a47.aedc14","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"b0ac5cbe.12d0b","type":"comment","z":"f471f5df.f04278","name":"https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-GET/","info":"","x":390,"y":600,"wires":[]},{"id":"90a8ba8d.42d2a8","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":120,"wires":[]},{"id":"63a53dcf.b5d964","type":"function","z":"f471f5df.f04278","name":"Get buckets (2 legged)","func":"const accessToken = global.get('FORGE_ACCESS')\nconst clientId = global.get(\"FORGE_CLIENT_ID\")\n\nmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets\"\nmsg.method = \"GET\"\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + accessToken,\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload = {\n    bucketKey: \"some_bucket_name\",\n    authId: clientId,\n    access: \"full\",\n    policyKey: \"temporary\"\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["e38f21b7.54bc8"]]},{"id":"8a96ecf3.ab8d6","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":740,"wires":[["63a53dcf.b5d964"]]},{"id":"b285f4b7.ba1c68","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":740,"wires":[]},{"id":"e38f21b7.54bc8","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":570,"y":740,"wires":[["b285f4b7.ba1c68"]]}]