flows.json
[{"id":"18af1902.b21ed7","type":"tab","label":"Authentication","disabled":false,"info":""},{"id":"f471f5df.f04278","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"22d15189.d1322e","type":"tab","label":"Design Automation API","disabled":false,"info":""},{"id":"54fd5e11.cf884","type":"subflow","name":"Forge 2legged","info":"","in":[{"x":200,"y":120,"wires":[{"id":"19ac201b.19c65"}]}],"out":[{"x":600,"y":160,"wires":[{"id":"f7307bcc.b4c638","port":0}]}]},{"id":"6f74f178.db583","type":"function","z":"18af1902.b21ed7","name":"Authorise (app)","func":"const clientId = global.get('FORGE_CLIENT_ID');\nvar clientSecret = global.get('FORGE_CLIENT_SECRET');\nconst scopes = global.get('FORGE_AUTH_SCOPES');\n\nmsg.url = 'https://developer.api.autodesk.com/authentication/v1/authenticate';\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'client_credentials',\n    scope: scopes.join(' ')\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["b641ca9f.b6fad8"]]},{"id":"9683d968.d85ce8","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6f74f178.db583"]]},{"id":"b641ca9f.b6fad8","type":"http request","z":"18af1902.b21ed7","name":"","method":"POST","ret":"obj","url":"","tls":"","x":510,"y":120,"wires":[["90a8ba8d.42d2a8"]]},{"id":"ef6e49ba.748818","type":"comment","z":"18af1902.b21ed7","name":"Forge - 2 legged","info":"","x":160,"y":80,"wires":[]},{"id":"b09c0026.c831e","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["5a71baa4.3a4a94"]]},{"id":"5a71baa4.3a4a94","type":"function","z":"18af1902.b21ed7","name":"Log oauth URL (user)","func":"const clientId = global.get('FORGE_CLIENT_ID');\nconst callbackUrl = global.get('FORGE_CALLBACK_URL');\nconst scopes = global.get('FORGE_AUTH_SCOPES');\n\nmsg.payload = `https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=${clientId}&redirect_uri=${encodeURIComponent(callbackUrl)}&scope=${scopes.join('%20')}`\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["cd4b9f6e.9ff8e"]]},{"id":"6d3ff910.372dd8","type":"function","z":"18af1902.b21ed7","name":"Paste access code (user)","func":"// PASTE code here:\nvar code = 'bwb3pJzt5zB7G7eexwfqeqWC0ZQM-QCavUF_GRwT';\n// END\n\nvar clientId = global.get('FORGE_CLIENT_ID');\nvar clientSecret = global.get('FORGE_CLIENT_SECRET');\nvar callbackUrl = global.get('FORGE_CALLBACK_URL');\n\nmsg.url = 'https://developer.api.autodesk.com/authentication/v1/gettoken';\nmsg.method = \"POST\"\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'authorization_code',\n    code,\n    redirect_uri: callbackUrl\n};\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["5ac3dde2.bf31d4"]]},{"id":"c6f08be3.b6b758","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["6d3ff910.372dd8"]]},{"id":"5ac3dde2.bf31d4","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":570,"y":300,"wires":[["1bca0910.d657f7"]]},{"id":"1bca0910.d657f7","type":"function","z":"18af1902.b21ed7","name":"Set access token","func":"console.log('BIM360 user access token:', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["1a69f108.0a41df"]]},{"id":"ab11bc44.66ff","type":"comment","z":"18af1902.b21ed7","name":"BIM360 - 3 legged","info":"","x":170,"y":200,"wires":[]},{"id":"cd4b9f6e.9ff8e","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":240,"wires":[]},{"id":"1a69f108.0a41df","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":300,"wires":[]},{"id":"64edaab0.db2af4","type":"comment","z":"18af1902.b21ed7","name":"Step 1.","info":"Generate the URL that you Application will make requests to perform the first leg of three-legged authentication.\n\nCopy the [https://pasteboard.co/IBqsjWJ.png](code) value and prepare for step 2.\n\n","x":690,"y":240,"wires":[]},{"id":"f3601f8.18e4fe","type":"comment","z":"18af1902.b21ed7","name":"Step 2.","info":"Exchange the code for the access_token\n\nIn the .bl-config.json file, copy the `access_token` to the property \"FORGE_ACCESS\"  \n\nThis is the value that your application will send with future requests on behalf of this user.\n","x":1130,"y":300,"wires":[]},{"id":"16b8a627.7ef3aa","type":"function","z":"f471f5df.f04278","name":"Get hub","func":"const accessToken = global.get('FORGE_ACCESS');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\nmsg.url = 'https://developer.api.autodesk.com/project/v1/hubs';\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["2693ad60.91e412"]]},{"id":"9ff77420.5662b8","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["16b8a627.7ef3aa"]]},{"id":"2693ad60.91e412","type":"http request","z":"f471f5df.f04278","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":80,"wires":[["98a31843.f69858"]]},{"id":"98a31843.f69858","type":"function","z":"f471f5df.f04278","name":"Log hub ID","func":"// console.log('msg.payload', JSON.stringify(msg.payload));\nconst listHubs = msg.payload.data.map(item => ({\n    id: item.id,\n    name: item.attributes.name,\n}))\n\nmsg.payload = listHubs\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["d551ad2a.d82c3"]]},{"id":"490b27ef.2e9068","type":"function","z":"f471f5df.f04278","name":"List projects","func":"const accessToken = global.get('FORGE_ACCESS')\nconst accountId = global.get('FORGE_HUB_ID');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nmsg.url = `https://developer.api.autodesk.com/project/v1/hubs/${accountId}/projects`\n\n// console.log(msg.headers, msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["f37795d1.c81658"]]},{"id":"52a17906.bfbb58","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["490b27ef.2e9068"]]},{"id":"f37795d1.c81658","type":"http request","z":"f471f5df.f04278","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":140,"wires":[["b370a625.98c398"]]},{"id":"b370a625.98c398","type":"function","z":"f471f5df.f04278","name":"Log projects","func":"console.log(msg.payload)\n\nvar listProjects = msg.payload.data.map(item => ({\n    id: item.id,\n    name: item.attributes.name,\n    containerId: item.relationships.issues ? item.relationships.issues.data.id : undefined,\n    rootFolder: item.relationships.rootFolder ? item.relationships.rootFolder.data.id : undefined,\n}));\n\nmsg.payload = listProjects \n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["8e8d23d1.c9aad"]]},{"id":"d551ad2a.d82c3","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":80,"wires":[]},{"id":"8e8d23d1.c9aad","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":140,"wires":[]},{"id":"b806efc7.fc92f","type":"function","z":"f471f5df.f04278","name":"Get project Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst hub_id = global.get('FORGE_HUB_ID');\n\nmsg.url = `https://developer.api.autodesk.com/project/v1/hubs/${hub_id}/projects/${project_id}`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["20f30f93.4339c"]]},{"id":"51c782cf.46e3dc","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["b806efc7.fc92f"]]},{"id":"20f30f93.4339c","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":200,"wires":[["521e6447.0384ac"]]},{"id":"521e6447.0384ac","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":200,"wires":[]},{"id":"5dd3345f.1efa9c","type":"function","z":"f471f5df.f04278","name":"Get folder Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\n\nmsg.url = `https://developer.api.autodesk.com/data/v1/projects/${project_id}/folders/${folder_id}/contents`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["2a182c8f.e20ca4"]]},{"id":"304d3c7f.d089e4","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["5dd3345f.1efa9c"]]},{"id":"2a182c8f.e20ca4","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":260,"wires":[["c7e095bb.a33038"]]},{"id":"c7e095bb.a33038","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"76a63937.474758","type":"function","z":"f471f5df.f04278","name":"POST job","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/job`\nmsg.method = \"POST\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    input: {\n        'urn': file_b64\n    },\n    output: {\n        formats: [\n            {\n               \"type\": \"svf\",\n               \"views\": [\n                 \"2d\",\n                 \"3d\"\n               ]\n             }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["f7a11b10.2a17f8"]]},{"id":"917c171.9952be8","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["76a63937.474758"]]},{"id":"f7a11b10.2a17f8","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":380,"wires":[["ec156e25.5b80d"]]},{"id":"ec156e25.5b80d","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":380,"wires":[]},{"id":"cfdf37a9.06bfb8","type":"function","z":"f471f5df.f04278","name":"Get urn thumbnail","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${file_b64}/thumbnail`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["1a0e3fb.7d0b7c"]]},{"id":"3340fc21.e227f4","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["cfdf37a9.06bfb8"]]},{"id":"1a0e3fb.7d0b7c","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":520,"wires":[["1da2925f.67874e","dfbb4787.92b4f8"]]},{"id":"1da2925f.67874e","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":520,"wires":[]},{"id":"dfbb4787.92b4f8","type":"file","z":"f471f5df.f04278","name":"","filename":"thumbnail.png","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":560,"wires":[[]]},{"id":"fb5dc872.8d9b58","type":"function","z":"f471f5df.f04278","name":"Get item Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst item_id = global.get('FORGE_ITEM_ID')\n\nmsg.url = `https://developer.api.autodesk.com/data/v1/projects/${project_id}/items/${item_id}`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["ac6aa8fd.20a488"]]},{"id":"29518e1c.44d5b2","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["fb5dc872.8d9b58"]]},{"id":"ac6aa8fd.20a488","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":320,"wires":[["1e35b136.ff750f"]]},{"id":"1e35b136.ff750f","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":320,"wires":[]},{"id":"f0c85c85.3d706","type":"function","z":"f471f5df.f04278","name":"GET metadata (tbc)","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${file_b64}/metadata`\nmsg.method = \"POST\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["951d5905.2db6c8"]]},{"id":"e7b46412.ac4958","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":640,"wires":[["f0c85c85.3d706"]]},{"id":"951d5905.2db6c8","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":640,"wires":[["584ce256.737f7c"]]},{"id":"584ce256.737f7c","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":640,"wires":[]},{"id":"f207f67e.ba4f28","type":"function","z":"f471f5df.f04278","name":"GET manifest","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst urn = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${urn}/manifest`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["996acf4d.cdc57"]]},{"id":"cddebecf.5e213","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["f207f67e.ba4f28"]]},{"id":"996acf4d.cdc57","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":530,"y":460,"wires":[["77275a47.aedc14"]]},{"id":"77275a47.aedc14","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"b0ac5cbe.12d0b","type":"comment","z":"f471f5df.f04278","name":"https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-GET/","info":"","x":390,"y":600,"wires":[]},{"id":"90a8ba8d.42d2a8","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":120,"wires":[]},{"id":"63a53dcf.b5d964","type":"function","z":"f471f5df.f04278","name":"Get buckets (2 legged)","func":"const accessToken = global.get('FORGE_ACCESS')\nconst clientId = global.get(\"FORGE_CLIENT_ID\")\n\nmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets\"\nmsg.method = \"GET\"\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + accessToken,\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload = {\n    bucketKey: \"some_bucket_name\",\n    authId: clientId,\n    access: \"full\",\n    policyKey: \"temporary\"\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["e38f21b7.54bc8"]]},{"id":"8a96ecf3.ab8d6","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":740,"wires":[["63a53dcf.b5d964"]]},{"id":"b285f4b7.ba1c68","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":740,"wires":[]},{"id":"e38f21b7.54bc8","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":570,"y":740,"wires":[["b285f4b7.ba1c68"]]},{"id":"f7307bcc.b4c638","type":"function","z":"54fd5e11.cf884","name":"Set Global","func":"var newmsg = {}\n\nglobal.set(\"access_token\", msg.payload.access_token)\n\nnewmsg.payload = {\n    subflow: \"forge auth\",\n    statusCode: msg.statusCode,\n    access_token: msg.payload.access_token,\n    token_type: msg.payload.token_type,\n    expires_in: msg.payload.expires_in\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[[]]},{"id":"19ac201b.19c65","type":"function","z":"54fd5e11.cf884","name":"","func":"var newmsg = {}\n\nvar client_id = \"O2txR3lna0BdlLIbobTBxo4fTyQSZxCm\"\nvar client_secret = \"F96PasfEPyyaIlxA\"\nvar grant_type = \"client_credentials\" // Must be client_credentials\nvar scope = \"code:all bucket:create bucket:read data:write data:read viewables:read\"\n\n\nnewmsg.payload = {}\nnewmsg.payload.client_id = client_id\nnewmsg.payload.client_secret = client_secret\nnewmsg.payload.grant_type = grant_type\nnewmsg.payload.scope = scope\nnewmsg.headers = {\n    \"Content-Type\" : \"application/x-www-form-urlencoded\"\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["4ee30d41.af60a4"]]},{"id":"4ee30d41.af60a4","type":"http request","z":"54fd5e11.cf884","name":"GetOauth2","method":"POST","ret":"obj","url":"https://developer.api.autodesk.com/authentication/v1/authenticate","tls":"","x":490,"y":120,"wires":[["f7307bcc.b4c638"]]},{"id":"58b24420.a1d39c","type":"comment","z":"22d15189.d1322e","name":"Create App nickname","info":"","x":500,"y":180,"wires":[]},{"id":"c1cd71af.769a2","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"txt","url":"","tls":"","x":590,"y":220,"wires":[["9b541072.385fc"]]},{"id":"6270e9f6.bcb0a8","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar id = \"me\" // Confusing Requirement\nvar nickname = \"dublinAccelerator\"\n\n// Dest Deets\nnewmsg.method = \"PATCH\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/forgeapps/\" + id\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\n// Payload\nnewmsg.payload = {\n    \"nickname\" : nickname\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["c1cd71af.769a2"]]},{"id":"9b541072.385fc","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":220,"wires":[]},{"id":"9f3ac2cc.9d553","type":"comment","z":"22d15189.d1322e","name":"Get Nickname","info":"","x":470,"y":100,"wires":[]},{"id":"dfc77db7.7392b","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","x":590,"y":140,"wires":[["e4841d8.39688e"]]},{"id":"3a2c96f6.67e6ea","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar id = \"me\" // Confusing Requirement\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/forgeapps/\" + id\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["dfc77db7.7392b"]]},{"id":"e4841d8.39688e","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":140,"wires":[]},{"id":"163e1045.9f7c9","type":"subflow:54fd5e11.cf884","z":"22d15189.d1322e","name":"","env":[],"x":280,"y":140,"wires":[["3a2c96f6.67e6ea"]]},{"id":"fc5571c8.4a035","type":"inject","z":"22d15189.d1322e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["163e1045.9f7c9"]]},{"id":"5520c06f.af07f","type":"comment","z":"22d15189.d1322e","name":"Task 3 - https://forge.autodesk.com/en/docs/design-automation/v3/tutorials/revit/step3-create-nickname/","info":"","x":390,"y":40,"wires":[]},{"id":"c0dbab5b.1d8138","type":"comment","z":"22d15189.d1322e","name":"Create Appbundle (Placeholder)","info":"","x":510,"y":340,"wires":[]},{"id":"c4e9d0a2.60f8e","type":"function","z":"22d15189.d1322e","name":"configurator","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Globals\nglobal.set(\"bundleId\", \"test2\") // !!\nglobal.set(\"bundleAlias\", \"demo2\") // !!\nglobal.set(\"bundleAliasVersion\", 1)\n\n// var fullBundleIdHack = \"dublinAccelerator.\" + global.get(\"bundleId\") + \"+\" + global.get(\"bundleAlias\")\n\n// Variables\nvar bundleId = global.get(\"bundleId\") // DeleteWallsApp\nvar engine = \"Autodesk.Revit+2018\" // Choose DA engine\nvar bundleDescription = \"This bundle removes walls\" // Deletes objects type wall from model\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n// Body\nnewmsg.payload = {\n    \"id\": bundleId,\n    \"engine\": engine, \n    \"description\": bundleDescription\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":447,"y":380,"wires":[["6fcaa8d8.81d758"]]},{"id":"6fcaa8d8.81d758","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","x":602,"y":380,"wires":[["1f83bbb0.cf3c84","cbf3987a.549ce8"]]},{"id":"12c2755.1ce928b","type":"comment","z":"22d15189.d1322e","name":"Upload AppBundle Zip file","info":"","x":1330,"y":340,"wires":[]},{"id":"aa929b89.3db458","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\n\n// Dest Details\nnewmsg.method = \"POST\"\nnewmsg.url = global.get(\"endpointURL\")\n\n// Headers\nnewmsg.headers = {\n    \"Content-type\": \"multipart/form-data\"\n}\n\n// Body\nnewmsg.payload = {\n    \"key\": global.get(\"key\"), // Create Id\n    \"content-type\": global.get(\"contentType\"), // Choose DA engine\n    \"policy\": global.get(\"policy\"),\n    \"success_action_status\" : global.get(\"successActionStatus\"),\n    \"success_action_redirect\" : global.get(\"successActionRedirect\"),\n    \"x-amz-signature\": global.get(\"xAmzSignature\"),\n    \"x-amz-credential\": global.get(\"xAmzCredential\"),\n    \"x-amz-algorithm\": global.get(\"xAmzAlgorithm\"),\n    \"x-amz-date\": global.get(\"xAmzDate\"),\n    \"x-amz-server-side-encryption\": global.get(\"xAmzServerSideEncryption\"),\n    \"x-amz-security-token\": global.get(\"xAmzSecurityToken\"),\n    \"file\": msg.payload\n}\n\nconsole.log(newmsg.payload)\nreturn newmsg;","outputs":1,"noerr":0,"x":1270,"y":380,"wires":[["4ab019c2.d331b8"]]},{"id":"4ab019c2.d331b8","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","x":1410,"y":380,"wires":[["b51670aa.b3ef5","70bcc502.bce18c"]]},{"id":"b51670aa.b3ef5","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":420,"wires":[]},{"id":"7d62cf06.0c505","type":"file in","z":"22d15189.d1322e","name":"","filename":"/home/bigdoods/projects/forgeAcceleratorDublin/DeleteWallsApp.zip","format":"","chunk":false,"sendError":false,"x":910,"y":420,"wires":[["aa929b89.3db458"]]},{"id":"1f83bbb0.cf3c84","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":340,"wires":[]},{"id":"49673c57.c38bd4","type":"comment","z":"22d15189.d1322e","name":"Get Appbundles","info":"","x":460,"y":520,"wires":[]},{"id":"15ddf487.5cd23b","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\n// Setup Request Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["b574dbd3.e705d8"]]},{"id":"b574dbd3.e705d8","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":560,"wires":[["a8274a11.744328"]]},{"id":"a8274a11.744328","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":560,"wires":[]},{"id":"7d62e36.038cb1c","type":"comment","z":"22d15189.d1322e","name":"Get Appbundle details","info":"","x":480,"y":600,"wires":[]},{"id":"29df050d.328e9a","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nvar bundleId = \"dublinAccelerator.DeleteWallsApp2+devTest\"\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles/\" + bundleId\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\n// Setup Request Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":431,"y":640,"wires":[["407c16dd.a9d9b8"]]},{"id":"407c16dd.a9d9b8","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":640,"wires":[["b69fbdbe.c2959"]]},{"id":"b69fbdbe.c2959","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":640,"wires":[]},{"id":"cbf3987a.549ce8","type":"function","z":"22d15189.d1322e","name":"configurator","func":"var newmsg = {}\n\nglobal.set(\"engine\", msg.payload.engine)\nglobal.set(\"bundleDescription\", msg.payload[\"description\"])\nglobal.set(\"endpointURL\", msg.payload.uploadParameters.endpointURL)\nglobal.set(\"key\", msg.payload.uploadParameters.formData.key)\nglobal.set(\"contentType\", msg.payload.uploadParameters.formData[\"content-type\"])\nglobal.set(\"policy\", msg.payload.uploadParameters.formData.policy)\nglobal.set(\"successActionStatus\", msg.payload.uploadParameters.formData.success_action_status)\nglobal.set(\"successActionRedirect\",  msg.payload.uploadParameters.formData.success_action_redirect)\nglobal.set(\"xAmzSignature\", msg.payload.uploadParameters.formData[\"x-amz-signature\"])\nglobal.set(\"xAmzCredential\", msg.payload.uploadParameters.formData[\"x-amz-credential\"])\nglobal.set(\"xAmzAlgorithm\", msg.payload.uploadParameters.formData[\"x-amz-algorithm\"])\nglobal.set(\"xAmzDate\", msg.payload.uploadParameters.formData[\"x-amz-date\"])\nglobal.set(\"xAmzServerSideEncryption\", msg.payload.uploadParameters.formData[\"x-amz-server-side-encryption\"])\nglobal.set(\"xAmzSecurityToken\", msg.payload.uploadParameters.formData[\"x-amz-security-token\"])\n\nreturn newmsg;","outputs":1,"noerr":0,"x":761,"y":380,"wires":[["7d62cf06.0c505"]]},{"id":"3a59ea8f.3189a6","type":"comment","z":"22d15189.d1322e","name":"Create Alias for App bundle","info":"","x":1660,"y":340,"wires":[]},{"id":"70bcc502.bce18c","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nvar appId = global.get(\"bundleId\") // Created in Create App Bundle\nvar bundleAlias = global.get(\"bundleAlias\")\nvar bundleAliasVersion = global.get(\"bundleAliasVersion\")\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles/\" + appId + \"/aliases\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n// Body\nnewmsg.payload = {\n      \"version\": bundleAliasVersion,\n      \"id\": bundleAlias\n    }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1590,"y":380,"wires":[["47ad141b.4890dc"]]},{"id":"47ad141b.4890dc","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":1730,"y":380,"wires":[["ead119bb.96d558","15ddf487.5cd23b"]]},{"id":"ead119bb.96d558","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1870,"y":380,"wires":[]},{"id":"f42ebcb2.b1a06","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar appId = \"basicOperationsApp\" // Created in Create App Bundle\nvar engine = \"Autodesk.Revit+2019\"\nvar appBundleDescription = \"Creates Levels and deletes objects from model\"\n\n// Dest Details\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles/\" + appId + \"/versions\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n// Body\nnewmsg.payload = {\n    \"id\": null, // Leave as null to avoid errors\n    \"engine\": engine,\n    \"description\": appBundleDescription\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":720,"wires":[["4d0c3cc2.660e04"]]},{"id":"d9fb1b8e.2f6868","type":"comment","z":"22d15189.d1322e","name":"Create New Appbundle Version","info":"","x":510,"y":680,"wires":[]},{"id":"4d0c3cc2.660e04","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":720,"wires":[["50921f89.7a533"]]},{"id":"50921f89.7a533","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":720,"wires":[]},{"id":"a25f357f.dfd298","type":"comment","z":"22d15189.d1322e","name":"Assign existing Alias to new AppBundle","info":"","x":530,"y":760,"wires":[]},{"id":"7670f10a.04d47","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Varibles\nvar appId = \"basicOperationsApp\" \nvar alias = \"devTest\"\nvar version = 2\n\n// Dest Deets\nnewmsg.method = \"PATCH\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles/\" + appId + \"/aliases/\" + alias\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n// Body\nnewmsg.payload = {\n        \"version\": version\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":800,"wires":[["424dd52d.82a8cc"]]},{"id":"424dd52d.82a8cc","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":800,"wires":[["f56f5782.af63f8"]]},{"id":"f56f5782.af63f8","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":800,"wires":[]},{"id":"787de19f.45f35","type":"comment","z":"22d15189.d1322e","name":"Delete Appbundle","info":"","x":470,"y":840,"wires":[]},{"id":"240b3f53.0f947","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar id = \"DeleteWallsApp\"\n\n// Dest Details\nnewmsg.method = \"DELETE\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/appbundles/\" + id\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":880,"wires":[["aa161fed.17c8"]]},{"id":"aa161fed.17c8","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":880,"wires":[["808e621d.a57ca"]]},{"id":"808e621d.a57ca","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":880,"wires":[]},{"id":"b1582937.cf2b28","type":"comment","z":"22d15189.d1322e","name":"Task 4 - https://forge.autodesk.com/en/docs/design-automation/v3/tutorials/revit/step4-publish-appbundle/","info":"","x":400,"y":300,"wires":[]},{"id":"f9a52990.ed4fc8","type":"comment","z":"22d15189.d1322e","name":"Task 5 - https://forge.autodesk.com/en/docs/design-automation/v3/tutorials/revit/step5-publish-activity/","info":"","x":390,"y":960,"wires":[]},{"id":"ba3383e5.e31a8","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nvar bundleId = global.get(\"bundleId\")\nvar engine = global.get(\"engine\")\nvar appBundles = [global.get(\"fullBundleId\")]\nvar activityDescription = global.get(\"activityDescription\")\nvar outputFileName = global.get(\"outputFileName\")\nvar outputFileExtension = global.get(\"outputFileExtension\")\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n// Body\nnewmsg.payload = {\n    \"id\": global.get(\"activityId\"),\n    \"commandLine\": [ \"$(engine.path)\\\\\\\\revitcoreconsole.exe /i $(args[rvtFile].path) /al $(appbundles[\" + global.get(\"bundleId\") + \"].path)\" ],\n    \"parameters\": {\n              \"rvtFile\": {\n                \"zip\": false,\n                \"ondemand\": false,\n                \"verb\": \"get\",\n                \"description\": \"Input Revit model\",\n                \"required\": true,\n                \"localName\": \"$(rvtFile)\"\n              },\n              \"result\": {\n                \"zip\": false,\n                \"ondemand\": false,\n                \"verb\": \"put\",\n                \"description\": \"Results\",\n                \"required\": true,\n                \"localName\": \"result.rvt\"\n              }\n            },\n    \"engine\": engine,\n    \"appbundles\": appBundles,\n    \"description\": activityDescription\n}\nconsole.log(newmsg)\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":1100,"wires":[["86449940.801338"]]},{"id":"1c5b82c0.7db6cd","type":"comment","z":"22d15189.d1322e","name":"Create New Activity","info":"","x":470,"y":1060,"wires":[]},{"id":"8888d65e.387f88","type":"comment","z":"22d15189.d1322e","name":"Create Alias for New Activity","info":"","x":840,"y":1060,"wires":[]},{"id":"16d3e304.eb276d","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nvar activityId = global.get(\"activityId\") \nvar engine = global.get(\"engine\")\nvar appBundles = [global.get(\"fullBundleIdHack\")]\nvar activityDescription = global.get(\"activityDescription\")\nvar activityAliasId = global.get(\"activityAliasId\")\nvar activityVersion = global.get(\"activityVersion\")\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities/\" + activityId + \"/aliases\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\nnewmsg.payload = {\n    \"version\": activityVersion,\n    \"id\": activityAliasId\n}\n\nconsole.log(newmsg)\nreturn newmsg;","outputs":1,"noerr":0,"x":770,"y":1100,"wires":[["1c5f11be.e9770e"]]},{"id":"635ea3fa.a8546c","type":"comment","z":"22d15189.d1322e","name":"Update an Existing Activity","info":"","x":490,"y":1280,"wires":[]},{"id":"45190261.e3d77c","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar activityId = \"\"\nvar engine = \"Autodesk.Revit+2019\"\nvar appBundles = [\"YourNickname.DeleteWallsApp+test\"]\nvar activityDescription = \"\"\nvar outputFileName = \"\"\nvar outputFileExtension = \".rvt\"\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities/\" + activityId + \"/versions\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\nnewmsg.payload = {\n    \"id\": null, \n    \"commandLine\": [ \"$(engine.path)\\\\\\\\revitcoreconsole.exe /i $(args[rvtFile].path) /al $(appbundles[DeleteWallsApp].path)\" ],\n    \"parameters\": {\n        \"inputFile\": \"$(inputFile)\",\n        \"inputJson\": \"params.json\",\n        \"outputFile\": outputFileName + outputFileExtension\n    },\n    \"engine\": engine,\n    \"appbundles\": appBundles,\n    \"description\": activityDescription\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":1320,"wires":[["99a99a07.cb1648"]]},{"id":"86449940.801338","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":1100,"wires":[["6baa57dd.4d9318","16d3e304.eb276d"]]},{"id":"1c5f11be.e9770e","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":910,"y":1100,"wires":[["57b20f4c.0bc5"]]},{"id":"99a99a07.cb1648","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":1320,"wires":[["d4b901d1.6dd5b"]]},{"id":"6baa57dd.4d9318","type":"debug","z":"22d15189.d1322e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1140,"wires":[]},{"id":"57b20f4c.0bc5","type":"debug","z":"22d15189.d1322e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":1100,"wires":[]},{"id":"d4b901d1.6dd5b","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1320,"wires":[]},{"id":"3422596f.1e0a26","type":"comment","z":"22d15189.d1322e","name":"Assign Existing Alias to New Version","info":"","x":520,"y":1380,"wires":[]},{"id":"75e7cd2b.83e3d4","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar activityId = \"\"\nvar engine = \"Autodesk.Revit+2019\"\nvar appBundles = [\"YourNickname.DeleteWallsApp+test\"]\nvar activityDescription = \"\"\nvar activityName = \"\"\nvar aliasName = \"\"\nvar version = 2\n\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities/\" + activityName + \"/aliases/\" + aliasName\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\nnewmsg.payload = {\n    \"version\": version\n} \n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":1420,"wires":[["6720d04e.63a91"]]},{"id":"6720d04e.63a91","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":1420,"wires":[["275f886c.09d958"]]},{"id":"275f886c.09d958","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1420,"wires":[]},{"id":"9cc675b9.d554d8","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\n// Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":431,"y":1220,"wires":[["b2964212.63206"]]},{"id":"275ab13a.5ec74e","type":"comment","z":"22d15189.d1322e","name":"Get activities","info":"","x":451,"y":1180,"wires":[]},{"id":"b2964212.63206","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":571,"y":1220,"wires":[["43a983ad.86cb0c"]]},{"id":"43a983ad.86cb0c","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":731,"y":1220,"wires":[]},{"id":"e24d6427.036cb8","type":"comment","z":"22d15189.d1322e","name":"Get Activity details","info":"","x":470,"y":1480,"wires":[]},{"id":"f249aca7.67ee1","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar activityId = \"\"\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities/\" + activityId\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\n// Setup Request Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":1520,"wires":[["14385c09.650104"]]},{"id":"14385c09.650104","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":1520,"wires":[["1a5eabf9.43f224"]]},{"id":"1a5eabf9.43f224","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1520,"wires":[]},{"id":"4d06016.68514","type":"function","z":"22d15189.d1322e","name":"configurator","func":"// Global Variables\nglobal.set(\"activityId\", \"thisActivityIdDemo\") // !! \nglobal.set(\"activityAliasId\", \"demo2\") // !!\nglobal.set(\"activityDescription\", \"the description of the activity\")\nglobal.set(\"bundleId\", \"test2\") // !!\nglobal.set(\"bundleAlias\", \"demo2\") // !!\nglobal.set(\"fullBundleId\", \"dublinAccelerator.\" + global.get(\"bundleId\") + \"+\" + global.get(\"bundleAlias\")) // !! \nglobal.set(\"activityDescription\", \"this activity will do stuff with bundle\") \nglobal.set(\"outputFileName\", \"result\") \nglobal.set(\"outputFileExtension\", \".rvt\") \nglobal.set(\"activityVersion\", 1)\nglobal.set(\"engine\", \"Autodesk.Revit+2018\")\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1100,"wires":[["ba3383e5.e31a8","9cc675b9.d554d8"]]},{"id":"7bc69acb.14f624","type":"comment","z":"22d15189.d1322e","name":"Delete Activity","info":"","x":450,"y":1580,"wires":[]},{"id":"63f34a3a.672b94","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = msg.payload.access_token\n\n// Variables\nvar id = global.get(\"activityId\")\n\n// Dest Details\nnewmsg.method = \"DELETE\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/activities/\" + id\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":1620,"wires":[["b5d71230.5c498"]]},{"id":"b5d71230.5c498","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":1620,"wires":[["b11bdcc4.0c856"]]},{"id":"b11bdcc4.0c856","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1620,"wires":[]},{"id":"d09699a8.e41388","type":"comment","z":"22d15189.d1322e","name":"Task 6 - https://forge.autodesk.com/en/docs/design-automation/v3/tutorials/revit/step6-post-workitem/","info":"","x":400,"y":1720,"wires":[]},{"id":"dd1e0579.49c3b8","type":"function","z":"22d15189.d1322e","name":"configurator","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nglobal.set(\"bucketId\", \"adamsfavouritbucketlolxx\")\nglobal.set(\"objectName\", \"someValue\")\nglobal.set(\"activityId\", \"dublinAccelerator.DeleteWallsActivity+devTest\") // !! \n\nglobal.set(\"activityDescription\", \"the description of the activity\")\nglobal.set(\"bundleId\", \"test2\") // !!\nglobal.set(\"bundleAlias\", \"demo2\") // !!\nglobal.set(\"activityAliasId\", \"demo\") \n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\nnewmsg.payload = {\n    \"bucketKey\": global.get(\"bucketId\"),\n    \"policyKey\":\"transient\"\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":450,"y":1840,"wires":[["e08877da.215378"]]},{"id":"e08877da.215378","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":610,"y":1840,"wires":[["e25aebbf.b6b4e8","58fd99ac.1f70c8"]]},{"id":"e25aebbf.b6b4e8","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1800,"wires":[]},{"id":"a08c6745.1d6878","type":"comment","z":"22d15189.d1322e","name":"Create bucket","info":"","x":450,"y":1800,"wires":[]},{"id":"2f39b2dc.af050e","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nglobal.set(\"bucketId\", \"adamsfavouritbucketlolx\") // This is duplicate of the above\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\" + global.get(\"bucketId\") + \"/objects\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":2220,"wires":[["c013129f.8cee9"]]},{"id":"c013129f.8cee9","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":590,"y":2220,"wires":[["d0f2127f.e0992"]]},{"id":"d0f2127f.e0992","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":2220,"wires":[]},{"id":"4a01a6b6.775a78","type":"comment","z":"22d15189.d1322e","name":"Get Bucket Items","info":"","x":460,"y":2180,"wires":[]},{"id":"c7404ebb.a02de","type":"comment","z":"22d15189.d1322e","name":"Post a WorkItem","info":"","x":820,"y":1800,"wires":[]},{"id":"58fd99ac.1f70c8","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nvar objectName = global.get(\"objectName\") // !! i.e resultd4rafile\nvar activityId = global.get(\"activityId\") // !! Grab from list of activities\nvar bucketName = global.get(\"bucketId\")\nvar fileLocation = \"https://s3-us-west-2.amazonaws.com/revitio-dev/test-data/DeleteWalls.rvt\" // G\nvar resultLocationURL = \"https://developer.api.autodesk.com/oss/v2/buckets/\" + bucketName + \"/objects/\"  + objectName  // G\n\n// Dest Deets\nnewmsg.method = \"POST\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/workitems\"\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\nnewmsg.payload = {\n    \"activityId\": activityId,\n    \"arguments\": {\n        \"rvtFile\": {\n            \"url\": fileLocation\n        },\n        \"result\": {\n            \"verb\": \"put\",\n            \"url\": resultLocationURL,\n            \"headers\": {\n              \"Authorization\": \"Bearer \" + token,\n              \"Content-type\": \"application/octet-stream\"\n            }\n        }\n    }\n}\n\nconsole.log(newmsg.payload)\n\nreturn newmsg;","outputs":1,"noerr":0,"x":790,"y":1840,"wires":[["63a45df8.cfe5e4"]]},{"id":"63a45df8.cfe5e4","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":930,"y":1840,"wires":[["f4be999f.d9c258"]]},{"id":"f4be999f.d9c258","type":"debug","z":"22d15189.d1322e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":1840,"wires":[]},{"id":"bbabac59.a69b6","type":"comment","z":"22d15189.d1322e","name":"WorkItem status","info":"","x":460,"y":1940,"wires":[]},{"id":"193cdcad.3a60b3","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nglobal.set(\"workItemId\", msg.payload.id)\nvar workItemId = global.get(\"workItemId\")\n// var workItemId = \"38d121f652564f55a47330b9244cf4e3\"\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/workitems/\" + workItemId\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":1980,"wires":[["9d6f957.79dad68"]]},{"id":"9d6f957.79dad68","type":"http request","z":"22d15189.d1322e","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":1980,"wires":[["e54987eb.620b38","2cbdd631.60a9fa"]]},{"id":"e54987eb.620b38","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1980,"wires":[]},{"id":"d1b2f87a.8a2e68","type":"delay","z":"22d15189.d1322e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":2080,"wires":[["9b9e18cd.86f1f8"]]},{"id":"2cbdd631.60a9fa","type":"switch","z":"22d15189.d1322e","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"\"success\"","vt":"str"},{"t":"eq","v":"\"success\"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":429,"y":2086,"wires":[["d1b2f87a.8a2e68"],["3f743f11.6fe07"]]},{"id":"9b9e18cd.86f1f8","type":"function","z":"22d15189.d1322e","name":"","func":"var newmsg = {}\nvar token = global.get(\"access_token\")\n\n// Variables\nvar workItemId = global.get(\"workItemId\")\n// var workItemId = \"38d121f652564f55a47330b9244cf4e3\"\n\n// Dest Deets\nnewmsg.method = \"GET\"\nnewmsg.url = \"https://developer.api.autodesk.com/da/us-east/v3/workitems/\" + workItemId\n\n// Headers\nnewmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n}\n\n//Body\n\nreturn newmsg;","outputs":1,"noerr":0,"x":695,"y":2080,"wires":[["9d6f957.79dad68"]]},{"id":"3f743f11.6fe07","type":"debug","z":"22d15189.d1322e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":2120,"wires":[]},{"id":"43b9f9cf.635ed8","type":"comment","z":"22d15189.d1322e","name":"Poller","info":"","x":429,"y":2046,"wires":[]}]