flows.json
[{"id":"18af1902.b21ed7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f471f5df.f04278","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4e4bbeaf.5784b","type":"function","z":"18af1902.b21ed7","name":"Get buckets (2 legged)","func":"const accessToken = global.get('FORGE_ACCESS')\nconst clientId = global.get(\"FORGE_CLIENT_ID\")\n\nmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets\"\nmsg.method = \"GET\"\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + accessToken,\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload = {\n    bucketKey: \"some_bucket_name\",\n    authId: clientId,\n    access: \"full\",\n    policyKey: \"temporary\"\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":780,"wires":[["a21aeefd.5e9b1"]]},{"id":"5dea60ff.3289d","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":780,"wires":[["4e4bbeaf.5784b"]]},{"id":"8b0be441.42ebb8","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":780,"wires":[]},{"id":"a21aeefd.5e9b1","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":630,"y":780,"wires":[["8b0be441.42ebb8"]]},{"id":"1becb47.c64a34c","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":420,"wires":[]},{"id":"59c5433d.bf8dcc","type":"comment","z":"18af1902.b21ed7","name":"Initiate OAuth Access Code Request","info":"This request is done in an Internet Browser for security reasons. After successful authorization by the user this request returns an access code\nthat can be exchanged into an access token.","x":800,"y":380,"wires":[]},{"id":"c9283522.ddfaa8","type":"function","z":"18af1902.b21ed7","name":"Get Auth server","func":"var hostname = global.get('ACONEX_HOSTNAME');\n\nmsg.method = \"GET\"\nmsg.url = hostname + '/OAuthStatus';\n\n\nreturn msg","outputs":1,"noerr":0,"x":240,"y":420,"wires":[["fcced6d8.4b0228"]]},{"id":"fcced6d8.4b0228","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","x":410,"y":420,"wires":[["ee3217b7.bbaae8"]]},{"id":"ee3217b7.bbaae8","type":"function","z":"18af1902.b21ed7","name":"Auth server","func":"var newmsg = {}\n\nglobal.set('ACONEX_AUTHORIZATION_SERVER_HOSTNAME', msg.payload.uri)\n\nreturn newmsg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["3d43c660.40d91a"]]},{"id":"3d43c660.40d91a","type":"function","z":"18af1902.b21ed7","name":"Log oauth URL","func":"var hostname = global.get('ACONEX_HOSTNAME');\nvar clientId = global.get('ACONEX_CLIENT_ID');\nvar email = global.get('ACONEX_EMAIL');\n\n// Body \n// We define CB URL with Aconex registration\nmsg.payload = hostname + '/Logon?Action=StartOAuth&client_id=' + encodeURIComponent(clientId) + '&redirect_uri=' + encodeURIComponent('http://localhost:8089/callback') + '&email=' + encodeURIComponent(email)\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["1becb47.c64a34c"]]},{"id":"87777b7.0528588","type":"comment","z":"18af1902.b21ed7","name":"Get OAuth Status","info":"","x":240,"y":380,"wires":[]},{"id":"1fa25856.0e43e8","type":"comment","z":"18af1902.b21ed7","name":"Aconex","info":"","x":210,"y":340,"wires":[]},{"id":"3857d05f.cd90d","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":160,"wires":[]},{"id":"b9d9d93c.9eaba8","type":"comment","z":"18af1902.b21ed7","name":"1. Initiate OAuth Access Code Request","info":"This request is done in an Internet Browser for security reasons. After successful authorization by the user this request returns an access code\nthat can be exchanged into an access token.","x":310,"y":120,"wires":[]},{"id":"df4c26bd.a59238","type":"function","z":"18af1902.b21ed7","name":"Log oauth URL","func":"var PROCORE_HOSTNAME = global.get('PROCORE_HOSTNAME');\nvar PROCORE_CLIENT_ID = global.get('PROCORE_CLIENT_ID');\nvar PROCORE_REDIRECT_URI = global.get('PROCORE_REDIRECT_URI');\n\nmsg.payload = PROCORE_HOSTNAME + '/oauth/authorize?client_id=' + PROCORE_CLIENT_ID + '&response_type=code&redirect_uri=' + PROCORE_REDIRECT_URI\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["3857d05f.cd90d"]]},{"id":"148d5ae5.1c9ed5","type":"comment","z":"18af1902.b21ed7","name":"Procore","info":"","x":210,"y":80,"wires":[]},{"id":"af69e4c9.a290f8","type":"function","z":"18af1902.b21ed7","name":"Request formation","func":"var PROCORE_HOSTNAME = global.get('PROCORE_HOSTNAME')\nvar PROCORE_GRANT_TYPE = global.get('PROCORE_GRANT_TYPE');\nvar PROCORE_CLIENT_ID = global.get('PROCORE_CLIENT_ID');\nvar PROCORE_CLIENT_SECRET = global.get('PROCORE_CLIENT_SECRET');\nvar PROCORE_REDIRECT_URI = global.get('PROCORE_REDIRECT_URI');\nvar PROCORE_REFRESH_TOKEN = global.get('PROCORE_REFRESH_TOKEN');\nvar PROCORE_CODE = global.get('PROCORE_CODE');\n\nmsg.url = PROCORE_HOSTNAME + \"/oauth/token\";\nmsg.method = \"POST\"\nmsg.payload = {\n  \"grant_type\": PROCORE_GRANT_TYPE,\n  \"client_id\": PROCORE_CLIENT_ID,\n  \"client_secret\": PROCORE_CLIENT_SECRET,\n  \"redirect_uri\": PROCORE_REDIRECT_URI,\n  \"code\": PROCORE_CODE\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["22b70933.851e76"]]},{"id":"22b70933.851e76","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","x":430,"y":240,"wires":[["5245df71.6b2e"]]},{"id":"c8ac1a8b.1cb708","type":"comment","z":"18af1902.b21ed7","name":"2. Get/Set Access Token","info":"","x":270,"y":200,"wires":[]},{"id":"5245df71.6b2e","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":240,"wires":[]},{"id":"5187dd97.8b2234","type":"function","z":"18af1902.b21ed7","name":"Exchange token","func":"var ACONEX_AUTHORIZATION_SERVER_HOSTNAME = global.get(\"ACONEX_AUTHORIZATION_SERVER_HOSTNAME\")\nvar ACONEX_CLIENT_ID = global.get('ACONEX_CLIENT_ID')\nvar ACONEX_CLIENT_SECRET = global.get('ACONEX_CLIENT_SECRET')\nvar ACONEX_CALLBACK_URL = global.get('ACONEX_CALLBACK_URL')\nvar ACONEX_CODE = global.get(\"ACONEX_CODE\")\n\nmsg.method = \"POST\"\nmsg.url = ACONEX_AUTHORIZATION_SERVER_HOSTNAME + '/as/token.oauth2?grant_type=authorization_code&redirect_uri=' + encodeURIComponent(ACONEX_CALLBACK_URL) + '&code=' + encodeURIComponent(ACONEX_CODE);\nmsg.headers = {\n    'Authorization': 'Basic ' + Buffer.from(ACONEX_CLIENT_ID + ':' + ACONEX_CLIENT_SECRET).toString('base64')\n};\n\nreturn msg\n","outputs":1,"noerr":0,"x":240,"y":480,"wires":[["4ec0d09a.b6e64"]]},{"id":"4ec0d09a.b6e64","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","x":410,"y":480,"wires":[["97757110.cd71e"]]},{"id":"97757110.cd71e","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":480,"wires":[]},{"id":"cb8e5e24.ab984","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":580,"wires":[]},{"id":"13c9f49f.5221cb","type":"function","z":"18af1902.b21ed7","name":"","func":"var l = global.get('BASIC')\nmsg.payload = l\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":580,"wires":[["cb8e5e24.ab984"]]},{"id":"2543f9fa.e33ac6","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":580,"wires":[["13c9f49f.5221cb"]]},{"id":"faf12998.fb8e38","type":"comment","z":"18af1902.b21ed7","name":"Test if Aconex Basic token is retrieved from env","info":"","x":340,"y":540,"wires":[]},{"id":"b09c0026.c831e","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":940,"wires":[["5a71baa4.3a4a94"]]},{"id":"5a71baa4.3a4a94","type":"function","z":"18af1902.b21ed7","name":"Log oauth URL (user)","func":"const clientId = global.get('FORGE_CLIENT_ID');\nconst callbackUrl = global.get('FORGE_CALLBACK_URL');\nconst scopes = global.get('FORGE_AUTH_SCOPES');\n\nconsole.log('oauth link:', 'https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=' + clientId + '&redirect_uri=' + encodeURIComponent(callbackUrl) + '&scope=' + scopes.join('%20'));\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":940,"wires":[[]]},{"id":"6d3ff910.372dd8","type":"function","z":"18af1902.b21ed7","name":"Paste access code (user)","func":"// PASTE code here:\nvar code = 'CWb10Q2BOhQwu2jxrp_B5zxuvEmpxb5XrT5rzxwT';\n// END\n\nvar clientId = global.get('FORGE_CLIENT_ID');\nvar clientSecret = global.get('FORGE_CLIENT_SECRET');\nvar callbackUrl = global.get('FORGE_CALLBACK_URL');\n\nmsg.url = 'https://developer.api.autodesk.com/authentication/v1/gettoken';\nmsg.method = \"POST\"\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'authorization_code',\n    code,\n    redirect_uri: callbackUrl\n};\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":1000,"wires":[["5ac3dde2.bf31d4"]]},{"id":"c6f08be3.b6b758","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1000,"wires":[["6d3ff910.372dd8"]]},{"id":"5ac3dde2.bf31d4","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":650,"y":1000,"wires":[["1bca0910.d657f7"]]},{"id":"1bca0910.d657f7","type":"function","z":"18af1902.b21ed7","name":"Set access token","func":"console.log('BIM360 user access token:', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1000,"wires":[[]]},{"id":"f6c9856f.8a1878","type":"function","z":"18af1902.b21ed7","name":"Get hub","func":"const accessToken = global.get('FORGE_ACCESS');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\nmsg.url = 'https://developer.api.autodesk.com/project/v1/hubs';\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1120,"wires":[["afc89817.c25bb8"]]},{"id":"52b85d80.2496e4","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1120,"wires":[["f6c9856f.8a1878"]]},{"id":"afc89817.c25bb8","type":"http request","z":"18af1902.b21ed7","name":"","method":"GET","ret":"obj","url":"","tls":"","x":550,"y":1120,"wires":[["30d6e39c.1bd9dc"]]},{"id":"30d6e39c.1bd9dc","type":"function","z":"18af1902.b21ed7","name":"Log hub ID","func":"// console.log('msg.payload', JSON.stringify(msg.payload));\nconst listHubs = msg.payload.data.map(item => ({\n    id: item.id,\n    name: item.attributes.name,\n}))\n\nmsg.payload = listHubs\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1120,"wires":[["92e0b032.1aef7"]]},{"id":"668361f3.d4289","type":"function","z":"18af1902.b21ed7","name":"List projects","func":"const accessToken = global.get('FORGE_ACCESS')\nconst accountId = global.get('FORGE_HUB_ID');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nmsg.url = `https://developer.api.autodesk.com/project/v1/hubs/${accountId}/projects`\n\n// console.log(msg.headers, msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1180,"wires":[["9e91b766.1f2b78"]]},{"id":"4acc1e39.e8a2a","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1180,"wires":[["668361f3.d4289"]]},{"id":"9e91b766.1f2b78","type":"http request","z":"18af1902.b21ed7","name":"","method":"GET","ret":"obj","url":"","tls":"","x":550,"y":1180,"wires":[["4dc04933.ed5478"]]},{"id":"4dc04933.ed5478","type":"function","z":"18af1902.b21ed7","name":"Log projects","func":"console.log(msg.payload)\n\nvar listProjects = msg.payload.data.map(item => ({\n    id: item.id,\n    name: item.attributes.name,\n    containerId: item.relationships.issues ? item.relationships.issues.data.id : undefined,\n    rootFolder: item.relationships.rootFolder ? item.relationships.rootFolder.data.id : undefined,\n}));\n\nmsg.payload = listProjects \n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1180,"wires":[["f2d4b615.547518"]]},{"id":"6f74f178.db583","type":"function","z":"18af1902.b21ed7","name":"Authorise (app)","func":"const clientId = global.get('bim360ClientId');\nconst clientSecret = global.get('bim360ClientSecret');\nconst scopes = global.get('bim360Scopes');\n\nmsg.url = 'https://developer.api.autodesk.com/authentication/v1/authenticate';\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'client_credentials',\n    scope: scopes.join(' ')\n};\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["b641ca9f.b6fad8"]]},{"id":"9683d968.d85ce8","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":720,"wires":[["6f74f178.db583"]]},{"id":"b641ca9f.b6fad8","type":"http request","z":"18af1902.b21ed7","name":"","method":"POST","ret":"obj","url":"","tls":"","x":590,"y":720,"wires":[["3f593a3f.f719c6"]]},{"id":"3f593a3f.f719c6","type":"function","z":"18af1902.b21ed7","name":"Set app access token","func":"console.log('BIM360 app access token:', msg.payload);\nglobal.set('bim360AppAccessToken', msg.payload.access_token);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":720,"wires":[[]]},{"id":"ab11bc44.66ff","type":"comment","z":"18af1902.b21ed7","name":"BIM360 - 3 legged","info":"","x":250,"y":900,"wires":[]},{"id":"ef6e49ba.748818","type":"comment","z":"18af1902.b21ed7","name":"BIM360 - 2 legged (Needs updating)","info":"","x":300,"y":680,"wires":[]},{"id":"92e0b032.1aef7","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1120,"wires":[]},{"id":"f2d4b615.547518","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1180,"wires":[]},{"id":"2c17006c.cc79e","type":"function","z":"18af1902.b21ed7","name":"Get project Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst hub_id = global.get('FORGE_HUB_ID');\n\nmsg.url = `https://developer.api.autodesk.com/project/v1/hubs/${hub_id}/projects/${project_id}`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1240,"wires":[["22d43634.a174ba"]]},{"id":"17210fbf.919d2","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1240,"wires":[["2c17006c.cc79e"]]},{"id":"22d43634.a174ba","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1240,"wires":[["ceeb9cbe.7b5af"]]},{"id":"ceeb9cbe.7b5af","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1240,"wires":[]},{"id":"f2de4551.b86228","type":"function","z":"18af1902.b21ed7","name":"Get folder Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\n\nmsg.url = `https://developer.api.autodesk.com/data/v1/projects/${project_id}/folders/${folder_id}/contents`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1300,"wires":[["8ac180c7.35037"]]},{"id":"1b405326.fe0f0d","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1300,"wires":[["f2de4551.b86228"]]},{"id":"8ac180c7.35037","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1300,"wires":[["a293ae66.81d71"]]},{"id":"a293ae66.81d71","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1300,"wires":[]},{"id":"f87093d8.ce12f","type":"function","z":"18af1902.b21ed7","name":"POST job","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/job`\nmsg.method = \"POST\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    input: {\n        'urn': file_b64\n    },\n    output: {\n        formats: [\n            {\n               \"type\": \"svf\",\n               \"views\": [\n                 \"2d\",\n                 \"3d\"\n               ]\n             }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1420,"wires":[["80867460.ecdf48"]]},{"id":"48c00d17.63e704","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1420,"wires":[["f87093d8.ce12f"]]},{"id":"80867460.ecdf48","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1420,"wires":[["3f7f6fef.3365c"]]},{"id":"3f7f6fef.3365c","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1420,"wires":[]},{"id":"db1a396c.896498","type":"function","z":"18af1902.b21ed7","name":"Get urn thumbnail","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${file_b64}/thumbnail`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1560,"wires":[["e508b267.e25ef"]]},{"id":"df153aa.9622ac8","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1560,"wires":[["db1a396c.896498"]]},{"id":"e508b267.e25ef","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1560,"wires":[["9f26d8f0.1f73e8","63bddc33.c35934"]]},{"id":"9f26d8f0.1f73e8","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1560,"wires":[]},{"id":"63bddc33.c35934","type":"file","z":"18af1902.b21ed7","name":"","filename":"thumbnail.png","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":920,"y":1600,"wires":[[]]},{"id":"680e15ee.08f3ec","type":"function","z":"18af1902.b21ed7","name":"Get item Details","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst item_id = global.get('FORGE_ITEM_ID')\n\nmsg.url = `https://developer.api.autodesk.com/data/v1/projects/${project_id}/items/${item_id}`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1360,"wires":[["deaf198b.a02dd8"]]},{"id":"731e6f8a.f31e7","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1360,"wires":[["680e15ee.08f3ec"]]},{"id":"deaf198b.a02dd8","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1360,"wires":[["81fd4859.16d418"]]},{"id":"81fd4859.16d418","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1360,"wires":[]},{"id":"eb52d1dc.17b2e","type":"function","z":"18af1902.b21ed7","name":"GET metadata (tbc)","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst file_b64 = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${file_b64}/metadata`\nmsg.method = \"POST\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1680,"wires":[["d662eb10.84e0d8"]]},{"id":"b51db426.a93568","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1680,"wires":[["eb52d1dc.17b2e"]]},{"id":"d662eb10.84e0d8","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1680,"wires":[["31c794a6.402c9c"]]},{"id":"31c794a6.402c9c","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1680,"wires":[]},{"id":"fbfd4fd0.c9bfc","type":"function","z":"18af1902.b21ed7","name":"GET manifest","func":"const accessToken = global.get('FORGE_ACCESS')\nconst project_id = global.get('FORGE_PROJECT_ID')\nconst folder_id = global.get('FORGE_FOLDER_ID');\nconst urn = global.get('FORGE_FILE_URN_B64')\n\nmsg.url = `https://developer.api.autodesk.com/modelderivative/v2/designdata/${urn}/manifest`\nmsg.method = \"GET\"\nmsg.headers = {\n    'Authorization': 'Bearer ' + accessToken\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1500,"wires":[["39416e01.56af02"]]},{"id":"c2fbc55a.cb2518","type":"inject","z":"18af1902.b21ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1500,"wires":[["fbfd4fd0.c9bfc"]]},{"id":"39416e01.56af02","type":"http request","z":"18af1902.b21ed7","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":1500,"wires":[["5d22714d.d42d1"]]},{"id":"5d22714d.d42d1","type":"debug","z":"18af1902.b21ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1500,"wires":[]},{"id":"73bdf78.97a2608","type":"function","z":"f471f5df.f04278","name":"","func":"const query = \"london\"\nmsg.url = \"https://www.metaweather.com/api/location/search/?query=\" + query \nmsg.method = \"GET\"\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["9ea71edc.3bf48"]]},{"id":"9ea71edc.3bf48","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":740,"y":220,"wires":[["58a0f7bd.d24df8","30992616.a948ea"]]},{"id":"1892dd03.040da3","type":"inject","z":"f471f5df.f04278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":220,"wires":[["73bdf78.97a2608"]]},{"id":"58a0f7bd.d24df8","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":220,"wires":[]},{"id":"30992616.a948ea","type":"function","z":"f471f5df.f04278","name":"","func":"const woeid = msg.payload[0].woeid\n\nmsg.url = \"https://www.metaweather.com/api/location/\" + woeid \nmsg.method = \"GET\"\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["68a43f6d.b9057"]]},{"id":"68a43f6d.b9057","type":"http request","z":"f471f5df.f04278","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":860,"y":320,"wires":[["36770e5a.ff7282","619f38bd.7b0b68"]]},{"id":"36770e5a.ff7282","type":"debug","z":"f471f5df.f04278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":320,"wires":[]},{"id":"619f38bd.7b0b68","type":"file","z":"f471f5df.f04278","name":"","filename":"weather.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":850,"y":420,"wires":[[]]},{"id":"ad64c3f7.a6f7","type":"comment","z":"f471f5df.f04278","name":"https://www.metaweather.com/api/","info":"","x":500,"y":180,"wires":[]},{"id":"c3769ada.ad7378","type":"comment","z":"f471f5df.f04278","name":"node-red-contrib (npm)","info":"","x":480,"y":540,"wires":[]},{"id":"b9649cd7.6cdcb","type":"comment","z":"f471f5df.f04278","name":"https://nodered.org/slack/","info":"","x":490,"y":500,"wires":[]},{"id":"30d9d144.7dad3e","type":"comment","z":"f471f5df.f04278","name":"https://randomnerdtutorials.com/getting-started-with-node-red-dashboard/","info":"","x":640,"y":580,"wires":[]},{"id":"b5d8a208.723d9","type":"comment","z":"18af1902.b21ed7","name":"https://forge.autodesk.com/en/docs/model-derivative/v2/reference/http/urn-metadata-GET/","info":"","x":450,"y":1640,"wires":[]}]